@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-green {
    background-color: #22333B;
}

.bg-visit-office-link {
    background-color: #ECE8E3;
}

.bg-contact-section {
    background-color: #ECE8E3;
}